@tailwind base;
@tailwind components;
@tailwind utilities;
@responsive {
  .iconScroll-Top {
    visibility: visible !important;
  }
  .done {
    text-decoration: line-through;
    color: #637381 !important;
  }
}
@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-around {
    @apply flex justify-around items-center;
  }
  .nav-items {
    @apply relative h-12 delay-500;
  }
  .style_nav-items {
    @apply cursor-pointer relative transition-all ease-linear dark:bg-sideBarDark after:border-blue after:absolute after:inset-y-0 after:right-0   after:bg-blue after:w-1 after:border-r-2 bg-xam  font-bold 
    text-blue;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .tablex {
    @apply text-left border-t-2 border-solid;
  }
  .rowx {
    @apply text-center text-xl  font-semibold;
  }
  
  td,
  th {
    @apply p-3 align-middle;
  }
}
@layer base {
  input[type="text"]:focus {
    box-shadow: 0 0 0 transparent !important;
  }
}
#addUser:checked ~ .form-add {
  visibility: visible;
}

#addUser:checked ~ .formAdd-overlay {
  display: block !important;
  opacity: 1;
  visibility: visible;
}
#check-SideBar:checked ~ .sideBar-overlay {
  opacity: 1;
  visibility: visible;
}
#check-SideBar:checked ~ nav {
  transform: translateX(0);
}
.switch {
  position: relative;
  width: 120px;
  height: 40px;
  display: inline-block;
}
.switch input {
  display: none;
}
.switch span {
  position: absolute;
  background-color: #000000;
  border-radius: 100px;
  box-shadow: 0 0px 20px #eeeeee;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.switch span::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: 0.8s;
}
.switch span::after {
  content: "Light";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.switch input:checked + span {
  background-color: #0072b5;
  box-shadow: 0 0px 20px #0072b5;
}
.switch input:checked + span::before {
  transform: translateX(80px);
  background-color: #fff;
}
.switch input:checked + span::after {
  content: "Dark";
  color: white;
}
.drop-hover:hover .menu__inf-profile {
  visibility: visible;
  opacity: 1;
}
.offline {
  background-color:#dc3545

}
.active {
  background-color: rgba(0, 114, 181, 1);
}